<div class="container-fluid">
    <div class="container text-center m-5">
        <h1>Welcome to Pension Management System </h1><br>
        <a *ngIf="!loggedIn" routerLink="/login" class="btn btn-outline-primary btn-lg btn-block" >Login Here!</a>       
    </div>    
</div>

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto bg-white rounded shadow-lg">

                <!-- Fixed header table-->
                <div class="table-responsive">
                    <table class="table table-fixed table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="col-3">APPLICATION NAME</th>
                                <th scope="col" class="col-3">PORT</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                
                                <td class="col-3">Eureka Server</td>
                                <td class="col-3">8761</td>
                            </tr>
                            <tr>                                
                                <td class="col-3">Pension Management Portal</td>
                                <td class="col-3">8000</td>
                            </tr>                            
                            <tr>                               
                                <td class="col-3">Authorization Microservice</td>
                                <td class="col-3">8001</td>
                            </tr>                            
                            <tr>                                
                                <td class="col-3">Pensioner Detail Microservice</td>
                                <td class="col-3">8002</td>
                            </tr>
                            <tr>                                
                                <td class="col-3">Pension Process Microservice</td>
                                <td class="col-3">8003</td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div><!-- End -->
                
            </div>
        </div>
    </div>